h1{
  font-size: 45px;
  font-weight:900;
  text-align: center;
  margin-top: 0px;
  color:var(--font-color)
}

h2{
  font-size: 30px;
  margin: 10px 0;
  color:var(--font-color)
}

#article-title{
  border-top: 1px solid var(--header-one);
  border-bottom: 1px solid var(--header-one);
}

.article-content{
  margin-top: 20px;
  font-size: 18px;
}

.row-flex{
  display: flex;
  flex-direction: row;
}
.column-flex{
  display: flex;
  flex-direction: column;
}
.half{
  width: 50%;
}