.everything{
  width: 70%;
  margin: 0 auto;
}
body{
  color: var(--text-color);
  font-size: 12px;
}

.logo_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:49%;
  margin-right: 1%;
  
}
.logo{
  margin: auto 0;
  margin-left: auto;
  width: 150px;
}
.school_name{
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
}

.school_photo{
  width: 150px;
  margin:0;
}

.school_information{
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin-top: 10px;
  margin-bottom:10px;
}

.school_description{
  width: 49%;
  text-align: left;
  margin-left: 1%;
}
.school_description #info{
  font-size: 15px;
  margin: 2px auto;
}

.school_accomplishments{
  margin:0;
  display:flex;
  flex-direction:row;
  margin-bottom: 100px;
  flex-wrap:wrap;
  justify-content: center;
}

.pd{
  min-width: 300px;
  width: 50%;
}
.tufts{
  min-width: 300px;
  width: 50%;
}
.school_accomplishments #header{
  width: 90%;
  text-align:center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid var(--header-one);
}

#award_year{
  padding-right: 10px;
}

#award_name{
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 5px;
}

#description{
  font-weight: normal;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
table{
  width:90%;
  margin-left:5%;
}
#ec_name{
  font-weight: bold;
  padding-right: 10px;
}

#course_name{
  font-weight:normal;
  text-align:left;
  float:left;
}

#course_score{
  float:right;
}
.italics{
  font-style: italic;
}


/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    .logo{display:none;}
    .logo_container{display:none;}
    .school_name{text-align: center; font-size: 25px; text-decoration: underline; margin-left: 0px}
    #info{text-align: center;}
    .school_description{width: 100%;}
    .school_accomplishments{margin-bottom: 50px;}
    .education_header{font-size: 30px}
    
}
