.bottom{
  border-top: 1px solid var(--header-one);
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
  margin-top:100px;
}

.topcoder{
  width:78px;
}

.button_label{
  text-align: center;
}

#topcoder_button_one.contact_button{
  margin: 0px;
  margin-left: 15px;
  height:27px;
  width:48px;
  display: inline-block;
}